.container {
    display: block;
    margin: 20px auto;
    width: 400px;
    .title {
        color: #2c3a41;
    }
    .card-info {
        font-size: 20px;
        .employee-info .employee-text {
            margin-left: 20px;
            text-transform: capitalize;
        }
    }
    .card-btn {
        border: none;
        cursor: pointer;
        display: inline-block;
        padding: 10px;
        background-color: #2c3a41;
        color: #e6e6e6;
        font-size: 20px;
        margin: 10px 6px;
        text-align: center;
        &:hover {
            background-color: #e6e6e6;
            color: #2c3a41;
        }
    }
}
