<div class="container">
    <div *ngIf="employee" class="employee-card">
        <h1 class="title">{{ employee.first_name }} CARD</h1>
        <table class="card-info">
            <tr>
                <p>photo: </p>
                <td class="employee-info">
                    <img src="{{ employee.avatar }}" alt="">
                </td>
            </tr>
            <tr>
                <p>fullname: </p>
                <td class="employee-info">
                    <span class="employee-text">{{ employee.first_name }} {{ employee.last_name }}</span>
                </td>
            </tr>
            <tr>
                <p>email: </p>
                <td class="employee-info">
                    <span class="employee-text">{{ employee.email }}</span>
                </td>
            </tr>
        </table>
        <button class="card-btn" routerLink="/card/{{ employee.id }}/update">Update &#9998;</button>
        <button class="card-btn" (click)="delete(employee)">Delete 	&#10008;</button>
        <button class="card-btn" (click)="goBack()">Go Back &#10150;</button>
    </div>
</div>