<div class="container">
    <h1 class="title">{{ title  }}</h1>
    <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()" method="POST">
        <label for="email" class="employee-label">Login:</label>
        <div>
            <input type="text" class="employee-input" id="email" name="email" formControlName="email" placeholder="Email">
            <span *ngIf=loginForm.controls.email.errors class="prompt">Email is required</span>
        </div>
        <label for="password" class="employee-label">Password:</label>
        <div>
            <input type="password" class="employee-input" id="password" name="password" formControlName="password" placeholder="Password">
        <span *ngIf=loginForm.controls.password.errors class="prompt">Password is required</span>
        </div>
        <button class="btn" type="submit" [disabled]="!loginForm.valid" [routerLink]="['/employees']">Sign In</button>
    </form>
</div>

