.title {
	text-align: center;
	margin: 20px 0;
	color: #2c3a41;
}

.home-nav {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    .home-url {
        text-decoration: none;
        color: #2c3a41;
        &:hover {
            color: #6E4359;
        }
    }
}

.add-worker-btn {
	cursor: pointer;
	display: block;
	margin: 20px auto;
}
.container{
	.employees {
		margin: 0 0 2em 0;
		list-style-type: none;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
		text-align: center;
		.employee {
			cursor: pointer;
			position: relative;
			width: 400px;
			left: 0;
			background-color: #e6e6e6;
			margin: 0.5em;
			padding: 0.3em 0;
			border-radius: 4px;
			&:hover {
				color: #e6e6e6;
				background-color: #2c3a41;
			}
			&:hover .badge .employee-titles {
				color: #e6e6e6;
			}
			.badge .employee-titles {
				color: #2c3a41;
				font-size: 30px;
				text-align: center;
				text-transform: capitalize;
			}
			.img {
				background-size: cover;
			}
		}
		.employee.selected {
			background-color: black;
			color: white;
			&:hover {
				background-color: #505050;
				color: white;
			}
			&:active {
				background-color: black;
				color: white;
			}
		}
		.badge {
			display: inline-block;
			font-size: small;
			color: white;
			padding: 0.8em 0.7em 0 0.7em;
			line-height: 1em;
			position: relative;
			left: -1px;
			top: -4px;
			height: 1.8em;
			margin: 0 auto;
			margin-right: 0.8em;
			border-radius: 4px 0 0 4px;
			text-align: center;
		}
	}
}
