<h1 class="title">{{ title }}</h1>
<button mat-button routerLink="/employees/create" class="add-worker-btn">&#10010; Add Worker</button>
<div class="container">
  <ul class="employees">
      <li class="employee" *ngFor="let employee of employees" (click)="onSelect(employee)" routerLink="/card/{{ employee.id }}">
          <mat-card class="example-card">
              <mat-card-header>
                  <mat-card-title>{{ employee.first_name }} {{ employee.last_name }}</mat-card-title>
                <mat-card-subtitle>{{ employee.email }}</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="{{ employee.avatar }}">
              <mat-card-content>
                <p>
                  {{ employee.first_name }} {{ employee.last_name }} is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
                </p>
              </mat-card-content>
            </mat-card>
      </li>
  </ul>
</div>