.home-nav {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    .home-url {
        text-decoration: none;
        color: #2c3a41;
        &:hover {
            color: #6E4359;
        }
    }
}
