.container {
    width: 400px;
    margin: 20px auto;
    font-size: 20px;
    .employees {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;

        .employee-label {
            margin: 15px 0;
        }

        .employee-input {
            margin: 10px 0;
            padding: 10px;
            border-color: #2c3a41;
        }

        .btn {
            cursor: pointer;
            border: none;
            padding: 10px;
            background-color: #2c3a41;
            color: #e6e6e6;
            font-size: 20px;
            margin: 10px auto;
            &:hover {
                background-color: #e6e6e6;
                color: #2c3a41;
            }
        }
    }
}
