<div class="container">
    <div *ngIf="employee" class="employees">
        <label for="name" class="employee-label">Name</label>
        <input type="text" class="employee-input" id="name" [(ngModel)]="employee.first_name" placeholder="Text the name, please!">
        <label for="last-name" class="employee-label">Last name</label>
        <input type="text" class="employee-input" id="last-name" [(ngModel)]="employee.last_name" placeholder="Text the last name, please!">
        <label for="email" class="employee-label">Email</label>
        <input type="text" class="employee-input" id="email" [(ngModel)]="employee.email" placeholder="Text the email, please!">
        <button class="btn" (click)="save()">Save &#10004;</button>
        <button class="btn" (click)="goBack()">Go Back &#10150;</button>
    </div>
</div>