.container {
    width: 500px;
    margin: 0 auto;
    .title {
        text-align: center;
        font-size: 25px;
        color: #2c3a41;
    }
    .form {
        width: 450px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 40% 60%;
        .register-input {
            margin-bottom: 20px;
            margin-left: 0px;
            padding: 10px;
            font-size: 14px;
            border: 2px solid #2c3a41;
        }
        .register-label {
            font-size: 20px;
            align-self: flex-start;
            margin-bottom: 5px;
            padding-top: 12px;
        }
        .btn {
            border: none;
            cursor: pointer;
            padding: 10px;
            background-color: #2c3a41;
            color: #e6e6e6;
            font-size: 20px;
            margin: 10px 6px;
            text-align: center;
            &:hover {
                background-color: #e6e6e6;
                color: #2c3a41;
            }
        }
        .prompt {
            display: block;
            margin-bottom: 10px;
        }
    }
}