<div class="container">
    <h1 class="title">{{ title }}</h1>
    <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <label for="email" class="register-label">Email:</label>
        <div>
            <input class="register-input" type="text" id="email" name="email" formControlName="email">
            <span class="prompt" *ngIf=registerForm.controls.email.errors>Email is required</span>
        </div>
        <label for="password" class="register-label">Password:</label>
        <div>
            <input class="register-input" type="password" id="password" name="password" formControlName="password">
            <span class="prompt" *ngIf=registerForm.controls.password.errors>Password is required</span>
        </div>
        <label for="password-confirm" class="register-label">Confirm password:</label>
        <div>
            <input class="register-input" type="password" id="password-confirm"  name="password-confirm" formControlName="confirmPassword">
            <span class="prompt" *ngIf=registerForm.controls.confirmPassword.errors>Password is required</span>
        </div>
        <button class="btn" type="button" [disabled]="registerForm.invalid">Sign Up</button>
    </form>

    <h3 *ngIf="registerForm.invalid">Form contains the following errors</h3>
    <p *ngIf="registerForm.get('password')!.hasError('passwordInvalid')">Password is not containing a number</p>
    <p *ngIf="registerForm.hasError('passwordNotMatching')">Passwords not matching</p>

</div>

