<div class="container">
    <h1 class="title">Add a new worker</h1>
    <form class="form-create-employee">
        <label for="new-employee-name" class="employee-label">Worker name: </label>
        <input id="new-employee-name" class="employee-input" #employeeName placeholder="Text name, please!" required>
        <label for="new-employee-position" class="employee-label">Worker position: </label>
        <input id="new-employee-position" class="employee-input" #employeePosition placeholder="Text position, please!" required>
        <button class="btn" (click)="goBack()">Go Back &#10150;</button>
        <button class="btn" (click)="add(employeeName.value, employeePosition.value)">&#10010; Add Worker</button>
    </form>
</div>
